
.DS_Store

project/www default/

*.xcuserstate
*.pbxproj

project/platforms/ios/www
project/platforms
project/platforms/ios/Student Utility.xcodeproj/project.pbxproj

project/platforms/ios/Student Utility.xcodeproj/project.pbxproj

project/platforms/ios/Student Utility/Student Utility-Info.plist

project/platforms/ios/www/config.xml

project/platforms/ios/www/index.html

project/platforms/ios/www/index.html

project/platforms/ios/www/index.html

project/platforms/ios/www/config.xml

project/platforms/ios/Student Utility/Student Utility-Info.plist

project/platforms/ios/Student Utility.xcodeproj/project.pbxproj

project/platforms/ios/Student Utility.xcodeproj/project.pbxproj

*.pbxproj
project/platforms/ios/www/js/app.js

project/platforms/ios/www/js/app.js

project/platforms/ios/www/index.html

project/platforms/ios/www/config.xml

project/platforms/ios/Student Utility/Student Utility-Info.plist

project/platforms/ios/Student Utility.xcodeproj/project.pbxproj

project/platforms/ios/Student Utility.xcodeproj/project.pbxproj

project/platforms/ios/Student Utility/Student Utility-Info.plist

*.xcconfig

project/platforms/ios/cordova/build.xcconfig

project/platforms/ios/www/cordova_plugins.js

project/platforms/ios/Student Utility/Student Utility-Info.plist

project/platforms/ios/Student Utility/Student Utility-Info.plist