<?xml version='1.0' encoding='utf-8'?>
<widget id="org.crescentschool.studentutility" version="2.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Student Utility</name>
    <description>
        The Crescent School Student Utility mobile application.
    </description>
    <author email="jonathanlibby@crescentschool.org" href="http://studentutility.crescentschool.org">
        Jonathan Libby
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <icon src="../icon.png" gap:platform="ios" width="50" height="50" />
    <icon src="../icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="../icon@2x.png" gap:platform="ios" width="114" height="114" />
    <icon src="../icon-72@2x.png" gap:platform="ios" width="144" height="144" />
</widget>
