<?xml version='1.0' encoding='utf-8'?>
<widget id="org.crescentschool.studentutility" version="2.0.6" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Student Utility</name>
    <description>
        The Crescent School Student Utility mobile application.
    </description>
    <author email="jonathanlibby@crescentschool.org" href="http://studentutility.crescentschool.org">
        Jonathan Libby
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />

    <!-- General icon -->
    <icon src="icon.png" width="144" height="144" />

    <!-- General splash screen (iPhone 4s and below) -->
    <gap:splash src="Default@2x~iphone.png" width="640" height="960" />
    <!-- General splash screen (iPhone 5 and above, 16:9)-->
    <gap:splash src="splash.png" width="640" height="1136" />
</widget>
